<header class="site-header">

  <div class="container header-inner">

    <a class="site-brand" href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>

    <nav class="site-nav">

      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/research">Research</a>
      <a href="/teaching">Teaching</a>
      <a href="/publications">Publications</a>
      <a href="/community">Community</a>

      <a href="/assets/files/Raluca_Gaina_CV.pdf"
         class="nav-cv">
         CV
      </a>

    </nav>

  </div>

</header>