<head>
	<!-- twitter card -->
	  <meta name="twitter:card" content="summary">
	  <meta name="twitter:site" content="@{{ site.author.twitter }}">
	  <meta name="twitter:creator" content="@{{ site.author.twitter }}">
	  <meta name="twitter:text:title" content="{% if post.short_title %}{{ post.short_title }}{% else %}{{ post.title }}{% endif %}">
	  <meta name="twitter:description" content="{% if post.tagline %}{{ page.tagline | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
	{% if post.image1 %}
	  <meta name="twitter:image:src" content="{{ post.image1 | prepend: site.baseurl | prepend: site.url }}"> 
	{% endif %} 
	  <!-- end twitter card -->

</head>