<head>
	<!-- twitter card -->
	  <meta name="twitter:card" content="summary">
	  <meta name="twitter:site" content="@{{ site.author.twitter }}">
	  <meta name="twitter:creator" content="@{{ site.author.twitter }}">
	  <meta name="twitter:title" content="{{ include.title }}">
	  <meta name="twitter:description" content="{{ include.description }}">
	  <meta name="twitter:image:src" content="{{ include.image }}"> 
	  <!-- end twitter card -->
	  
	  <script src="https://kit.fontawesome.com/3a5605ae4b.js"></script>

</head>