<h2>Official guides</h2>

<ul><li><a href="https://www.jetbrains.com/help/idea/getting-started.html">Getting started</a>
</li><li><a href="https://www.jetbrains.com/help/pycharm/quick-start-guide.html">Quick start guide</a>
</li></ul>

<h2>Download</h2>

<ul><li> <a href="https://www.jetbrains.com/idea/download/">IntelliJ (Java)</a>
</li><li> <a href="https://www.jetbrains.com/pycharm/download/">PyCharm (Python)</a>
</li></ul>

As a student, you can sign up for a student pack to get access to the Ultimate versions and other JetBrains software, <a href="https://www.jetbrains.com/community/education/#students">here</a>.

<h2>Why?</h2>

IntelliJ/PyCharm are very similar IDEs (integrated development environment) for Java and Python, respectively. They are currently the best options for either language (and both compatible with other languages as well), with all features you'll usually need available for <b>free</b> with the Community edition: 
<ul><li> Source code editing
</li><li> Build automation
</li><li> Debugging
</li><li> Java/Python compiler
</li><li> Highlights syntax for clarity
</li><li> Highlights syntax errors while writing code 
</li><li> Makes useful suggestions for completing in-progress code 
</li><li> Easy navigation through code
	</li></ul>

<h2>Interface</h2>

An overview of IntelliJ (PyCharm works in a very similar way):

<img src="/assets/research-guide/intellij.png"/>

