<p>A short course on Java for beginners, with a focus on its use for Game AI (though without explaining the corresponding AI concepts), assuming little to no previous programming experience, available for download (zip file): <a href="/assets/research-guide/java-lessons.zip">download</a></p>

<p>The lessons walk you through programming a simple game in Java and writing AI that plays the game. Some of the examples and explanations reference the game Pommerman as implemented <a href="https://github.com/GAIGResearch/java-pommerman">here</a>.</p>

<p>Code solutions for most exercises can be found in a <a href="https://github.com/rdgain/JavaClasses">Github repository</a>. Check the <a href="https://github.com/rdgain/JavaClasses/commits/main">commit history</a> for the intermediary state of the code, e.g. <a href="https://github.com/rdgain/JavaClasses/commit/6a73a0fc71dad8b20326e12101509e5efaa793c6">this</a> is the code updated with the solution to Exercise 3.</p>


<p>Zip contents:</p>
<ul><li><b> 1.pdf:</b> first lesson slides, basic Java (types, variables) and Object-Oriented Programming concepts.
</li><li><b> 2.pdf:</b> second lesson slides:
		<ul><li> Methods 
		</li><li> Classes, Inheritance and Interfaces 
		</li><li> Java Coding 
		</li></ul>
</li><li><b> 3.pdf:</b> third lesson slides:
		<ul><li> Arrays, lists, queues and sets 
		</li><li> Maps, Hash vs Tree 
		</li><li> Trees and Graphs 
		</li><li> Visualisation and Testing
		</li></ul>
</li><li><b> Exercise 1-14:</b> exercises to follow in order, which appear in the slides but are also provided separately for easier reference. Some of these exercises reference other files in the zip files:
		<ul><li><b> mazeGraph.txt:</b> used in Exercise 12
		</li><li><b> mazeGraphDraw folder:</b> explained in Exercise 12
		</li><li><b> graphToGridDraw folder:</b> explained in Exercise 13
		</li><li><b> Week 2 - OOP:</b> used in Exercise 1, with an example answer provided in <b>Week 2 - OOP - myExample</b>
		</li></ul>
</li><li><b> MazeGameOOP-StepByStepProcess.pdf:</b> an alternative way of thinking about Object-Oriented problems.
</li></ul>
