<p>Your mental and physical health are important! Please remember to take care of yourself and to take breaks and time off when needed. Do contact your supervisor if you're experiencing any issues, and let them know if you do need time away - you don't need to give me a reason, but letting them know would avoid other issues.</p>

<p>Important note: you're not alone!</p>

<p>Some resources for you to check (good to go through even if you don't need them yet):</p>

<ul><li> <a href="https://www.welfare.qmul.ac.uk/emotional-wellbeing/">Queen Mary's Advice and Counselling Service</a><br/> 
Queen Mary has a variety of services and links for student wellbeing.

</li><li> <a href="https://www.bellhouse.co.uk/events/2020/10/6/coping-with-anxiety-af47g-ybny9-8lngs-kd6be-lzmes-2jsws-56mfz-hmp8p-l5l4d-4gr5l-62nws-pt52y">Bell House 'Coping With Anxiety' Sessions</a><br/>
This is a series of online meetings aimed at 18-25 year-olds, held weekly and hosted by assistant psychologists. 

</li><li> <a href="https://www.mind.org.uk/information-support/tips-for-everyday-living/student-life/about-student-mental-health/">Mind - Student Mental Health Resources</a><br/>
Mind is the UK's mental health charity, and this page lists helpful links and resources, in conjunction with <a href="https://www.studentsagainstdepression.org/about-us/">Student Minds</a>.
 
</li><li> <a href="https://www.nhs.uk/conditions/stress-anxiety-depression/student-mental-health/">NHS Student Mental Health</a><br/>
Links to mental health resources within the NHS, including helping with understanding issues, and support.

</li></ul>

<img src="/assets/research-guide/msc-mental-health.jpg"/>

<img src="/assets/research-guide/grow.jpg"/>
