<p>I've asked Twitter to share some of their tips and tricks for getting started with research projects. Here are some great answers they've given!</p>

<p>P.S.: <a href="http://twitter.com/">Twitter</a> is a great platform for finding out about new research, or for promoting your own work. Getting involved in the community early can be very advantageous, even if it's just to say hi, follow others in the domain you're interested in or post pictures or comments on your in-progress work! </p>

<p><a href="http://tweetdeck.twitter.com">Tweetdeck</a> is a great tool for Twitter which helps organize your interests.</p>

<img src="/assets/research-guide/twitter/1.png"/>
<img src="/assets/research-guide/twitter/11.png"/><br/>
<img src="/assets/research-guide/twitter/2.png"/>
<img src="/assets/research-guide/twitter/21.png"/><br/>
<img src="/assets/research-guide/twitter/3.png"/><br/>
<img src="/assets/research-guide/twitter/4.png"/><br/>
<img src="/assets/research-guide/twitter/5.png"/><br/>
<img src="/assets/research-guide/twitter/6.png"/>
<img src="/assets/research-guide/twitter/61.png"/><br/>
<img src="/assets/research-guide/twitter/7.png"/>
