<h2>Finding papers to read and cite</h2>

<p>
The easiest way to get started is to head to Google Scholar and search for keywords related to your project:
<ol><li> Save and make notes of all papers you find that seem relevant based on their <b>title</b> and <b>abstract</b>. 
	</li><li> Read the <b>introduction</b> and <b>conclusions</b> of this first list of papers, and eliminate those that are not actually relevant for you.
	</li><li> Look at the list of references in the papers collected and retrieve any other papers that seem relevant to your topic. Repeat the steps above for this new list of papers, and keep going until you have at least 20 papers that have some connection to your project.
	</li><li> Follow the steps below to read each paper in more detail, and make notes on each one.
</li></ol>

</p><p>
Some other ways to find papers:
<ol><li> Search on Google for your topic, using the keyword "survey". Surveys are longer papers that act as stand-alone literature reviews on particular topics, and therefore act as a great source for your own literature reviews. Look through the works cited in the survey to find relevant papers.
	</li><li> Look for conferences where work related to your topic is usually published, e.g. IEEE CoG and search for proceedings for that conference. ACM and IEEE conference proceedings are easily accessible, but if you find a paper that is behind a paywall, try to search for its title in Google Scholar, or for its title and the "PDF" keyword in Google directly. Often, papers are published on the authors' websites or university archives and publicly available.
	</li><li> <a href="https://ieeexplore.ieee.org/Xplore/home.jsp">IEEE Xplore</a> (sign in with your QMUL login) / <a href="https://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=7782673">IEEE TOG</a>, <a href="https://arxiv.org/">Arxiv</a>, <a href="https://dblp.org/">DBLP</a>, <a href="https://dl.acm.org/">ACM</a>
</li></ol></p>

<h2>Critical Review</h2>

<p>You may come across the term <b>critical</b> when asked to do a literature review, or when receiving comments or feedback on your literature review. This refers to assessing the contribution of the work read and its connection to your own work, instead of simply summarizing the approach in the cited paper. </p>

<p>For example:
<ul><li> <b>Summary of work: </b><br/>
	<i>For example, approaches based on Hyper-Heuristics have been used in the General Video Game AI framework (GVGAI [2]) by Mendes et al. [11]. These approaches train the agent off-line to recognise the best strategy for the game at hand from a portfolio. When the agent has to play a new game, it uses the trained mechanism to select the best strategy depending on some of the game’s features. Experiments have shown that these approaches are promising and are able to outperform agents based on standard algorithms.</i>
	<ul style="list-style: none;">
	 <li>From: Raluca D. Gaina, Chiara F. Sironi, Mark H.M. Winands, Diego Perez-Liebana, Simon M. Lucas, "Self-Adaptive Rolling Horizon Evolutionary Algorithms for General Video Game Playing", in IEEE Conference on Games (CoG), 2020.</li>
	</ul>
		
</li><li> <b>Critical review: </b><br/>
	<i>Some games adopt this concept and research on social, interactive characters in order to create more immersive experiences for their players. A great example here is Emily Short’s game “Galatea” [9], which focuses on interactive storytelling. Emily Short writes about NPC conversation systems [10], showcasing different functionalities these can take. We are interested in the tutorial system most, although in our case it would be reversed: the humans would be giving the AI hints, and not the other way around, as in Matt Wigdahl’s “Aotearoa” [11] or Santiago Ontanon’s “SHRDLU” [12]. These characters, although becoming more and more impressive with the inclusion of memory, personality and adaptation to different players and play styles, they do exist only within the game. Our vision wishes to take this concept further and bring more presence into the real world to such characters.</i>
	<ul style="list-style: none;">
	 <li>From: Raluca D. Gaina, Simon M. Lucas, Diego Perez-Liebana, "Project Thyia: A Forever Gameplayer", in IEEE Conference on Games (COG), pp. 1-8, 2019.</li>
	</ul>
</li></ul>
</p>

<h3>What does a critical review include? </h3>
<ul><li> The main ideas or arguments in the book or article. Don’t feel you have to mention everything: part of being an effective evaluator is being able to extract the most important ideas from a source. 
	</li><li> Your own evaluation of the article. Don’t just accept the author’s statements without question. Ask yourself questions such as: How effective is the author’s argument? Is it clearly presented and explained? Is it biased in any way?
	</li><li> The connection to your work and/or to other works included in the same section. (Although this connection can sometimes be simply implied instead of explicitly stated.)
	</li><li> A critical review is not just a summary! 
</li></ul>


<h3>Reading an article for a critical review</h3>
<ol><li> Have a clear context in mind that you will place the work within, so that you can look for specifics related to your topic.
	</li><li> Read the title and abstract first, to form an idea of what the article will cover.
	</li><li> Take notes as you read of anything that is confusing or unclear. You’ll have two main purposes in your reading:
		<ol type="a"><li> Understand the author’s argument (what the author is trying to show, and the steps he or she takes to prove this argument). 
		</li><li> Evaluate the effectiveness of the author’s argument. 
		</li></ol>
		
	</li><li> Write down any questions you have (pay particular attention to questions that seem important, but that the author does not address). 
</li></ol>


<h2>Paper reviews</h2>

<p>A good way to practice critically reviewing other works, instead of simply reading them to find out their methods/results, is to review papers. All articles published in journals or conferences undergo a review process, where several other scholars in the field read the paper and send back comments and feedback on the paper's presentation of the work, as well as the soundness of the work itself. This process is used to validate papers before they are published, making <b>peer-reviewed</b> articles more likely to contain accurate citable information than blog posts, arxiv.org articles etc.
</p>

<p><b>Recommendation:</b> when doing background reading for your project, record not only a summary, but also your own review of the paper (using the template provided or any other you prefer). This will help you in several ways:
<ul><li> Reading the paper in more detail and questioning its soundness
	</li><li> Understanding paper presentation techniques to use when writing up your own work
	</li><li> Writing a critical literature review for your own work
</li></ul>
</p>

<p>The template provided at the end is a typical journal review template, which usually go in much more depth than conference paper reviews. The "relevance to project" topic was added specific to your usage of this template (and not an aspect covered in regular reviews). </p>

<h2>Literature Reviews</h2>

<p>A literature review is a type of critical review in which you analyse and evaluate many sources on a specific topic. The purpose is to provide your reader with an overview of the research that has been done on your topic, and to evaluate the sources you are reviewing. Focus on the most important points relevant to your topic.</p> 

<p>For each paper, summarise the work <b>and</b> evaluate the effectiveness of the authors’ arguments <b>and</b> state the relevance to your own work. Point out areas where much research has been done, as well as areas where more research still needs to be done. It is also important to compare sources with each other, pointing out where they agree or disagree with one another. </p>

<p>Finally, draw conclusions from your findings, describing what the literature as a whole suggests about your topic. Take into consideration your evaluations of the relative effectiveness of the different authors’ arguments. If there are important aspects of the topic that have not yet been fully researched, you might not be able to reach definite conclusions. If this is the case, you can discuss why more research is needed.</p>



<h2>Further reading</h2>

<ul><li> <a href="http://ormawa.kd-cibiru.upi.edu/wp-content/uploads/2019/01/critical-review-or-literature-review-handout.pdf">Critical reviews and literature reviews, UMKC Writing Studio</a>
	</li><li> <a href="https://sociology.fas.harvard.edu/files/sociology/files/literature_review.pdf">The critical literature review, Harvard</a>
	</li><li> <a href="https://researchguides.njit.edu/ld.php?content_id=32213382">How to write a literature review, HJIT</a>
</li></ul>


<h2>Critical paper review template</h2>

<ul style="list-style: none;">
 <li><b> Summary:</b> briefly state what the paper is really about (may be different to what they say it is in the abstract/introduction).
 </li><li><b> Contributions:</b> what are the claimed contributions of the paper? How significant/important are the claimed contributions? What are the actual contributions (if different)?
</li><li><b> Support:</b> how are these contributions supported? Is the support adequate? Correct? Is the evaluation adequate?  Well-designed? Comment on the support for each claimed contribution and, if appropriate, on how the support could be improved.
</li><li><b> Relevance to project:</b> how is this article relevant to your project? Are you going to use some of the methods described, compare to results obtained? Did you find a flaw in the approach or experimental setup which you will address in your work? Is there something mentioned in the future work section which you can use to build upon? Do their discussion of results or particular statements inform your thinking/work?

</li><li><b> Technical quality:</b> is the paper technically sound? Does it adequately address the limitations of the results?  Comment on how technical quality could be improved.  Are the strengths/weaknesses and reasons for observed results explored systematically? Are algorithms, evaluation methodology, etc. described in sufficient detail? Could a reader replicate the work? Are the figures/tables sufficient? 
</li><li><b> Originality:</b> are the claimed contributions novel? Does the paper place the work appropriately in the context of related research?
</li><li><b> Clarity:</b> comment on the writing, organization & exposition.  

</li><li><b> Detailed comments of major issues:</b> if specific issues highlighted need to be explained in more detail, do so. Could refer to specific sections or sentences.
</li><li><b> Minor changes:</b> some changes (i.e. incorrect spelling or figure numbers) that would be easy to fix/don’t have a major impact in the overall quality of the paper.

 </li></ul>
