<ul><li> <b>Academic Toolkit</b> have some free resources available to help break down and design research or articles (in your case, the report): e.g. <a href="https://www.academic-toolkit.com/the-article-design-canvas/">Article design canvas</a> (browse the other tools and search for the "download" buttons). This will help not only to get started with asking the right questions and finding the right content, but also to frame your thinking when doing research.
</li><li> <b>Voice dictation:</b> software such as MS Word (available for free with your QMUL account) or Google Docs feature dictation tools which allow you to speak your writing. This can speed up the process of getting ideas down on paper, which can be fixed up later.
</li><li> <b><a href="https://docs.google.com/presentation/d/1PZj0Sev2yjDu9NNr96S_wwjKCgIDhGmLjW1vtQpDhlk/edit?usp=sharing">How to write the introduction to a research paper</a></b> 
</li><li> <b><a href="https://abhijeetkrishnan.me/how-to-write-a-great-research-paper/">How to write a great research paper:</a></b> 
<ol><li> <b>Don’t wait: write</b><br/>
Don’t follow the typical research of process of idea > research > paper. Instead, do idea > paper > research. Let the process of writing the paper guide your research. Writing your ideas down crystallises them, forcing you to think more deeply about your idea, and revealing possibilities you did not consider. It also creates a shareable artifact that you can use to invite collaboration and critique.
</li><li> <b>Identify your key idea</b><br/>
Imagine your paper to be virus whose goal it is to infect the mind of your reader with one key idea. This idea should be something useful and re-usable that stays with the reader after they’ve finished reading your paper.
</li><li> <b>Tell a story</b><br/>
Imagine explaining your research to a friend at a whiteboard. You would probably explain the problem first, describe why it is interesting and unsolved, talk about your idea and how it works (with details and data), then compare it with other approaches. Remember that you start losing readers from the first page onwards, so keep your paper engaging.
</li><li> <b>Nail your contributions</b><br/>
Ensure you focus on your contributions in the 1st page - list them in bullet points and make them refutable. Use forward references to link to where you justify the contributions later in the paper.
</li><li> <b>Related work: later</b><br/>
Related work can act as a barrier between your idea and the reader’s mind. It is better to include it at the end after you’ve already explained your idea simply. Use them earlier if they help explain your solution path better (e.g. if you’re building off of prior work), but don’t list them for the sake of adding alternative approaches or examples. Give credit freely (it is not a zero-sum game).
</li><li> <b>Put your readers first (examples)</b><br/>
Your problem is a labyrinth; in your research, you’ve encountered many dead-ends before hitting on the solution. You need to lead your readers comfortably to the solution. Address obvious objections your reader might have. Eschew technical-sounding prose since they will make your reader feel sleepy or stupid. A reader should be able to take something away from your paper even if they skip the details.
</li><li> <b>Listen to your readers</b><br/>
Get your paper read by as many friendly guinea pigs as possible. Explain carefully what you want (confusion is better feedback than spelling errors). Value the first time readers and make it easy for them to give you feedback. Reviews are gold dust; people are donating their time to write a review for you. Take criticism positively.
</li></ol>
</li></ul>
		
<a href="https://youtu.be/VK51E3gHENc"><b>Video</b>: How to Write a Great Research Paper</a>

<img src="/assets/research-guide/phd031305s.gif"/>
