<div class="project-card">

    <img
        src="{{ include.image }}"
        alt="{{ include.title }}"
    >

    <div class="project-card-content">

        <h3>

            {{ include.title }}

        </h3>

        <p>

            {{ include.text }}

        </p>

        {% if include.tech %}

        <div class="project-tags">

            {% assign tags = include.tech | split: "," %}

            {% for tag in tags %}

            <span>

                {{ tag | strip }}

            </span>

            {% endfor %}

        </div>

        {% endif %}

        {% if include.link %}

        <a
            href="{{ include.link }}"
            class="btn btn-secondary"
        >

            Learn more

        </a>

        {% endif %}

    </div>

</div>