<div class="social-links">

<a href="mailto:ralucagaina2009@gmai.com">

<i class="fas fa-envelope"></i>

</a>

<a href="https://github.com/rdgain">

<i class="fab fa-github"></i>

</a>

<a href="https://www.linkedin.com/in/raluca-gaina">

<i class="fab fa-linkedin"></i>

</a>

<a href="https://scholar.google.com/citations?user=tC5klQYAAAAJ">

<i class="fas fa-graduation-cap"></i>

</a>

<a href="https://www.researchgate.net/profile/Raluca_Gaina">

<i class="fab fa-researchgate"></i>

</a>

</div>